.container {
  display: flex;
}

.left-content {
  flex: 1;
}

.right-content {
  flex: 2;
}

.right__main-content {
  display: flex;
  width: 100%;
}

.right__main-content > chat-container {
  flex: 2;
}

.btn-login {
  background: red;
}
